<div class="row paddtop-10 ">
  <div class="col-md-2">
    <div id="circuler-spin" data-content="<%= @content_item.id %>">
    </div>
    <%= link_to 'Close this Ad', dashboard_path, class: 'btn btn-primary close-ad hidden' %>
  </div>
  <div class="col-md-10 success-notice">
    Coins will be transfered to your account after successfull loading.
  </div>
  <div class="clear"></div>
</div>
<%= render partial: @content_item.ad_type %>
