<div class="row paddtop-10 ">
  <div class="col-md-2" id="circuler-spin" style="height:100px;"></div>
  <div class="col-md-10 success-notice">
    Coins will be transfered to your account after successfull loading.
  </div>
  <div class="clear"></div>
</div>
<iframe src="<%= @content_item.content %>" class="content-frame" frameborder="0"></iframe>
