<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Purchase Confirmation</h4>
      <p class="paddtop-20">We will be sending the deal shortly using your personal information provided to us. Please make sure you have added correct information.</p>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <%= link_to 'back', '', class: 'btn btn-default', data: { dismiss: 'modal' } %>
    </div>
  </div>
</div>
