<div id="all-ads" class="paddtop-40">
  <ol class="breadcrumb">
    <li class="active">
      <i class="fa fa-envelope-o"></i> Ads for you
    </li>
  </ol>
  <h3 class="page-header">
    Featured Ads <small>Never miss these</small>
  </h3>
  <div class="row">
    <div class="col-md-3">
      <div class="card text-xs-center">
        <div class="card-header green-bg">
          <strong>Featured</strong>
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          <strong>5 coins</strong>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-xs-center">
        <div class="card-header green-bg">
          <strong>Featured</strong>
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          <strong>5 coins</strong>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-xs-center">
        <div class="card-header green-bg">
          <strong>Featured</strong>
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          <strong>5 coins</strong>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-xs-center">
        <div class="card-header green-bg">
          <strong>Featured</strong>
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          <strong>5 coins</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row paddtop-40">
    <h3 class="page-header">
      Regular Ads <small>Generate good coins</small>
    </h3>
    <div class="col-md-3">
      <div class="card text-xs-center">
        <div class="card-header blue-bg">
          <strong>Regular</strong>
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          <strong>3 coins</strong>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-xs-center">
        <div class="card-header blue-bg">
          <strong>Regular</strong>
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          <strong>3 coins</strong>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-xs-center">
        <div class="card-header blue-bg">
          <strong>Regular</strong>
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          <strong>3 coins</strong>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-xs-center">
        <div class="card-header blue-bg">
          <strong>Regular</strong>
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          <strong>3 coins</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row paddtop-40">
    <h3 class="page-header">
      Default Ads <small>Always available to you</small>
    </h3>
    <div class="col-md-3">
      <div class="card text-xs-center">
        <div class="card-header orange-bg">
          <strong>Default</strong>
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          <strong>1 coins</strong>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-xs-center">
        <div class="card-header orange-bg">
          <strong>Default</strong>
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          <strong>1 coins</strong>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-xs-center">
        <div class="card-header orange-bg">
          <strong>Default</strong>
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          <strong>1 coins</strong>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-xs-center">
        <div class="card-header orange-bg">
          <strong>Default</strong>
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          <strong>1 coins</strong>
        </div>
      </div>
    </div>
  </div>
</div>
