.no-padding {
  padding: 0px;
}
.paddtop-10 {
  padding-top: 10px;
}
.paddtop-20 {
  padding-top: 20px;
}
.paddtop-30 {
  padding-top: 30px;
}
.paddtop-40 {
  padding-top: 40px;
}
.paddbottom-60 {
  padding-bottom: 60px;
}
.breadcrumb {
  background-color: #e5e5e5;
}
.green-bg {
  background-color: #5cb85c;
}
.blue-bg {
  background-color: #428bca;
}
.orange-bg {
  background-color: #f0ad4e;
}
#all-ads {
  padding-bottom: 30px;
}
a.bolder {
  font-weight: bolder;
  font-size: 30px;
  font-family: fantasy;
  margin-left: 45px;
}
#all-ads h3 {
  text-align: center
}
.coins-earned {
  padding-top: 16px;
  padding-bottom: 9px;
  padding-right: 7px;
  color: #999;
}
.landing-container {
  text-align: center;
  padding-bottom: 20px;
}
.landing-container img {
  width: 45%;
}
.landing-intro {
  font-size: 17px;
  padding: 20px 45px 0px 45px;
  color: #e5e5e5;
}
/************************** card ****************/
.card {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: .25rem;
}
.text-xs-center {
  text-align: center!important;
}
.card-header {
  padding: .75rem 1.25rem;
  border-bottom: 1px solid #e5e5e5;
  color: white;
}
.card-header:first-child {
  border-radius: .25rem .25rem 0 0;
}
.card-block {
  padding: 1.25rem;
}
.card-title {
  margin-bottom: .75rem;
}
.card-footer:last-child {
  border-radius: 0 0 .25rem .25rem;
}
.text-muted {
  color: #818a91;
}
.card-footer {
  padding: .75rem 1.25rem;
  background-color: #e5e5e5;
  color: #545050;
  border-top: 1px solid #e5e5e5;
}
.card-block img {
  width: 150px;
}
/*********************** card end *************************/
/************************* user form *****************/
.bg-black {
  background-color: #222;
}
.user-form {
  background-color: transparent;
  border-color: #525252;
}
.user-form .panel-heading {
  background-color: #e5e5e5;
}
.user-form label {
  color: #e5e5e5;
}
.user-form input {
  background-color: transparent;
  color: #e5e5e5;
}
.user-form em {
  color: #525252;
}
.user-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #222 inset;
  -webkit-text-fill-color: #e5e5e5 !important;
}
.user-links {
  padding-top: 20px;
  color: #e5e5e5;
}
.user-links a {
  text-decoration: none;
  padding-right: 5px;
}
#error_explanation {
  color: #e5e5e5;
}
.edit-profile {
  min-height: 630px;
}
.edit-profile form {
  padding-left: 20px;
  padding-bottom: 30px;
}
.edit-profile input, .edit-profile textarea {
  width: 60%;
}
.update-user-btn input {
  width: auto;
}
.edit-profile #error_explanation {
  color: #D73434;
}
/************************ end user form ***********************/

/*********************** show content item ********************/
.success-notice {
  padding-top: 30px;
  float: left;
  font-weight: bold;
}
.content-frame {
  width: 100%;
  height: 1000px;
  padding-top: 10px;
}
#circuler-spin {
  height: 100px;
  text-align: center;
}
.close-ad {
  margin: 24px 0px 20px 25px;
}
.video-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.video_iframe {
  position: relative;
}
.video_iframe .ratio {
  display: block;
  width: 100%;
  height: auto;
}
.video_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/************************** show content ends ************************/

/*************************** Analytics section ***********************/
.ad-type-name {
  padding: 20px 0px;
  font-size: 28px;
}
.total-watched-ads {
  font-size: 20px;
  color: #555;
}
.watched-ads-count {
  font-size: 28px;
  color: #555;
}
.panel-orange {
  background-color: #f0ad4e;
}
.panel-orange .panel-heading {
  color: #fff;
}
.panel-gold {
  background-color: #DAA520;
}
.panel-gold .panel-heading {
  color: #fff;
}
/***************************** End Analytics section *******************/

/***************************** Reward section **************************/
a.pay-now-btn {
  font-size: 44px;
  width: 94%;
}
.reward-desc-column {
  border-right: 1px solid #EADFDF;
}
.reward-desc-column img {
  width: 99%;
}
.glyphicon { margin-right:5px; }
.thumbnail
{
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.item.list-group-item
{
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}
.item.list-group-item .list-group-image
{
  margin-right: 10px;
}
.item.list-group-item .thumbnail
{
  margin-bottom: 0px;
}
.item.list-group-item .caption
{
  padding: 9px 9px 0px 9px;
}
.item.list-group-item:before, .item.list-group-item:after
{
  display: table;
  content: " ";
}
.item.list-group-item img
{
  float: left;
}
.item.list-group-item:after
{
  clear: both;
}
.list-group-item-text
{
  margin: 0 0 11px;
}
.list-group .list-group-item {
  border: none;
}
.thumbnail img {
  width: 150px;
}
.modal-body h4 {
  color: red;
}
/************************ Reward Section end *********************/
