<div class="landing-container">
  <%= image_tag('money.png') %>
  <div class="landing-intro">
    <strong>Earn coins by watching ads provided by sponsers</strong><br>
    You can buy out deals or cash out coins for money. So start collecting coins today. We will be offering multiple deals soon.
  </div>
</div>
