<!DOCTYPE html>
<html>
<%= render partial: '/layouts/head' %>
<body>
  <div id="wrapper">
    <%= render partial: '/layouts/navigation.html.erb' %>
    <dir class="row no-padding">
      <div class="col-md-2 col-sm-3">
        <%= render partial: '/layouts/side_bar' %>
      </div>
      <div class="col-md-10 col-sm-9">
        <%= yield %>
      </div>
    </dir>
  </div>
</body>
</html>
